html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdn.discordapp.com/attachments/965297558610133052/965893290387963914/slow.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-content {
  width: 300px;
  height: 280px;
  background-color: rgb(0 0 0 / 80%);
  border-radius: 10px;
}

.search-bar {
  display: inline-flex;
  width: 100%;
  height: auto;
  padding: 20px 15px;
}

#input-field {
  width: 220px;
  color: white;
  border-radius: 25px;
  border: 0;
  outline: none;
  padding: 10px;
  margin-right: auto;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

option{
  background-color: rgb(0 0 0 / 80%);
}

#search-btn {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 10px;
  border: 0;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/icons_search.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

#search-btn:hover {
  background-size: 30px;
  cursor: pointer;
}

.weather-data {
  width: 100%;
  padding: 0 25px;
}

.data-line1 {
  display: flex;
  align-items: center;
}

.place-date {
  display: inline-flex;
  margin-right: auto;
}

#place {
  font-size: 28px;
}

.date {
  display: inline-flex;
  margin: 0 10px;
}

.arrows {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  line-height: 40px;
}

#left, #right {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 40%);
  text-align: center;
  line-height: 18px;
  margin: 0 5px;
  cursor: pointer;
}

/* 不可點選時加上這個class */
.disabled {
  color: rgb(78, 78, 78);
  background-color: rgba(87, 87, 87, 0.4) !important
}

.temp {
  font-size: 36px;
}

.dash {
  font-size: 20px;
}

.weather-status {
  display: flex;
}

#weather-icon {
  width: 30px;
}

#status {
  margin: 0 10px;
  line-height: 30px;
}

#rain-status {
  margin: 10px 0;
}

#comfort {
  margin: 5px 0;
}

#footer {
  position: absolute;
  bottom: 0;
}